<div class="span10">
	<div id="results"></div>Total Count: <span class="badge badge-success"><%= @r_output.size  + @reqd_and_opt_results.size %></span><br/>
<!--	Required Params : <%=  @r.to_s %><br>
	Optional Params : <%=  @o.to_s %><br>
	        Headers : <%=  @h.to_s %><br>
-->			
<strong>Required Paramemeter Combinations</strong><br/>
	Count:<span class="badge badge-success"> <%= @r_output.size %></span><br/>
	<pre>
 <%= @method[:method] if (@r_output.size > 0) %> 
    <% @r_output.each do |o| %>
      <%= @endpoint %>  <%= o %>  [<%= @h[(@r_output.index(o) % @h.size)] if (@h.size > 0) %>]
       <% end %>   
</pre><!--    <pre>
		<strong>Optional Params combinations</strong>
	<%= @method[:method] %> : <%= @endpoint %> 
		<% @o_output.each do |o| %>
			  <%= @endpoint %>  <%= o.to_s.gsub("[", "").gsub("]", "").gsub("\"", "") %>
		   <% end %>
		
</pre>
-->
<strong>Required + Optional Parameter combinations</strong><br/>   
Count: <span class="badge badge-success"><%= @reqd_and_opt_results.size %></span><br/>
<pre>
 <%= @method[:method] if (@reqd_and_opt_results.size > 0) %> 
     <% @reqd_and_opt_results.each do |r| %>
      <%= @endpoint %> <%= r.kind_of?(Array) ? r.join(" ") : r %>   [<%= @h[(@reqd_and_opt_results.index(r) % @h.size)] if (@h.size > 0) %>]
            <% end %>
        
</pre>
</div>

